<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/static/img/favicon_upgrade.ico" />
    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
</head>
<body>
    <a href="/index"><img src="/static/img/header.png"></a>
    <div>eLiquidInventory: <a href="/index">Home</a>,
        <a href="/register">Register</a>
        <a href="/login">Log in</a>,
        <a href="/logout">Log out</a>
        <a href="/flavorings_list">Flavorings list</a>
        <a href="/nicotine_list">Nicotine list</a>
    </div>
    {% if user.user_name != 'Guest' %}
        <div>Welcome, {{user.user_name.capitalize()}}:
        <a href="{{ url_for('users_nicotine_inventory', user_name=user.user_name)}}">Your nicotine inventory</a>
        <a href="{{ url_for('users_flavorings_inventory', user_name=user.user_name)}}">Your flavorings inventory</a>
        <a href="{{ url_for('users_favourite_eliquids', user_name=user.user_name)}}">Your favourites eLiquids</a>
        <a href="{{ url_for('users_private_eliquids', user_name=user.user_name)}}">Your private eLiquids</a>
        {% else %}
        <div>Welcome, {{user.user_name.capitalize()}}!</div>
    {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    <hr>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </body>
</html>
