{% extends "base.html" %}
{% block content %}

    {% if not new_eliquid_name %}
        <div class="container">
        <div class="col-md-6">
        {{ wtf.quick_form(create_eliquid_form, id='create') }}
        </div></div>
    {% endif %}

    {% if new_eliquid_name %}
        <div class="container">
        <div class="col-md-6">
            {{ wtf.quick_form(add_flavoring_form) }}
        </div>
        </div>

    {% endif %}

    {% if new_eliquid_stash_view %}
            {% for string in new_eliquid_stash_view %}
                <div class="container" style="margin-top: 15px">
                    <div class="col-sm-3">{{ string }}
                    </div>
                </div>
            {% endfor %}

        <form method="POST" id="done" style="margin-top: 15px">
            <input type="submit" name="submit" value="Done!" class="btn btn-success">
        </form>

    {% endif %}
<script>
    $(function() {
    $("#create").submit(function(event) {
        // Stop form from submitting normally
        event.preventDefault();
        var createForm = $(this);
        // Send the data using post
        var posting = $.post( '{{ url_for('eliquid_create', user_name=user.user_name) }}', createForm.serialize() );
        // if success:
        posting.done(function(data) {
            // success actions, maybe change submit button to 'friend added' or whatever
            location.reload();
        });
        // if failure:
        posting.fail(function(data) {
            alert('Failed');
        });
    });
});

</script>
{% endblock %}
