{% extends "base.html" %}
{% block content %}
<h3>Here is the composition</h3>
{% if composition %}
    <ul>
        {% for element in composition %}
        <li>
            <!--<p>{{ element.flavoring_id.flavoring_name }} by {{ element.flavoring_id.producer_name }}-->
            <p>{{ element.flavoring.flavoring_name }} by {{ element.flavoring.producer_name }}
                {{ element.quantity }}%</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>wtf?</p>
    {% endif %}

{% endblock %}
