{% extends "base.html" %}

{% block content %}
    {% if user.user_name != 'Guest' %}
        {% if not favourite %}
            <button id="like">Like</button>
        {% else %}
            <button id="like">Unlike</button>
        {% endif %}
    {% endif %}
    {# нужно сделать кнопкой #}
    <form action="{{ url_for("eliquid_craft", user_name=user.user_name, eliquid_id=eliquid.id) }}">
        <input type="submit" value="Craft it!">
    </form>
{#    <a href="{{ url_for("eliquid_craft", user_name=user.user_name, eliquid_id=eliquid.id) }}">Craft it!</a>#}

    <h3>{{ eliquid.eliquid_name }}</h3>
    {% if composition %}
        <ul>
            {% for element in composition %}
            <li>
                <p>{{ element.flavoring.flavoring_name }} by {{ element.flavoring.producer_name }}
                    {{ element.quantity }}%</p>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>wtf?</p>
    {% endif %}
<script>
       $(document).ready(function() {
           $('#like').on('click', function () {
               $.post({
                   url: "{{ url_for('like_post') }}",
                   data: {
                       data: {{ eliquid.id }}
                   },
                   success: function () {
                       if ($('#like').text() == "Like") {
                           $('#like').text('Unlike');
                       } else {
                           $('#like').text('Like');
                       }
                   }
               });
           });
       })
</script>
{% endblock %}
