{% extends "base.html" %}
{% block content %}
{#    {% from "macros.html" import render_field %}#}
{#    <form method="POST" class="form">#}
{#        {{ form.csrf_token }}#}
{#        {{ render_field(form.flavoring_name, class="input text") }}#}
{#        {{ render_field(form.producer_name, class="input text") }}#}
{#        <input type="submit" value="{{ action }} flavoring" class="button green">#}
{#    </form>#}
    <div class="container">
        <div class="col-md-6">
        {{ wtf.quick_form(form, action=form_action) }}
        </div></div>

    <h3>Here is the list of Flavorings</h3>
    {% if flavorings_list %}
            {% for flavoring in flavorings_list %}
                <div class="container" style="margin-top: 15px">
                    <div class="col-md-3">
                        {{ flavoring.flavoring_name.capitalize() }} by {{ flavoring.producer_name }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No Flavorings are available.</p>
        {% endif %}

{% endblock %}