{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="col-sm-6">
        {{ wtf.quick_form(form, action=form_action) }}
        </div></div>

    <h3>Here is the list of Flavorings</h3>
    {% if flavorings_list %}
            {% for flavoring in flavorings_list %}
                <div class="container" style="margin-top: 15px">
                    <div class="col-sm-3">
                        {{ flavoring.flavoring_name.capitalize() }} by {{ flavoring.producer_name }}
                    </div>
                </div>
            {% endfor %}

    {% else %}
        <p>No Flavorings are available.</p>

    {% endif %}
{% endblock %}
