{% extends "base.html" %}
{% block content %}

    <a href="{{ url_for('eliquid_create', user_name=user.user_name)}}">Create new eLiquid</a>

    <h3>Here is the list of eLiquids</h3>
    {% if eliquid_list %}
        <ul>
            {% for eLiquid in eliquid_list %}
            <li>
                <p><a href="{{ url_for('eliquid_comp', eliquid_id=eLiquid.id)}}">
                    {{ eLiquid.eliquid_name }}</a></p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No eLiquids are available.</p>
        {% endif %}
{% endblock %}
