{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% block content %}
    {% if action=="Edit" %}
        <p>Now editing Nicotine by <b>{{ nicotine.producer_name }}</b> concentration <b>{{ nicotine.concentration }} mg/ml</b></p>
        <form action="{{ form_action }}" method="{{ method | d("POST") }}" class="form">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.amount, class="input text") }}
            <p><input type="submit" value="{{ action }} nicotine" class="btn btn-success"></p>
        </form>
    {% elif action=="Delete"%}

        <p>Press button below to delete Nicotine by <b>{{ nicotine.producer_name }}</b> concentration <b>{{ nicotine.concentration }} mg/ml</b> from your inventory</p>
        <form action="{{ form_action }}" method="{{ method | d("POST") }}" class="form">
            {{ form.csrf_token }}
            <p><input type="submit" value="{{ action }} nicotine" class="btn btn-danger"></p>
        </form>

    {% else %}
        <div class="container">
        <div class="col-md-6">
        {{ wtf.quick_form(form, action=form_action) }}
        </div></div>
{#        <form action="{{ form_action }}" method="{{ method | d("POST") }}" class="form">#}
{#            {{ form.csrf_token }}#}
{#            {{ wtf.form_field(form.producer_name, class="input text") }}#}
{#            {{ wtf.form_field(form.concentration, class="input text") }}#}
{#            {{ wtf.form_field(form.amount, class="input text") }}#}
{#            <p><input type="submit" value="{{ action }} nicotine" class="button green"></p>#}
{#        </form>#}
        <div class="container">
        <h3>Here is the list of {{user.user_name}} nicotine inventory</h3>

        {% if nicotine_inventory_list %}
                {% for users_nicotine in nicotine_inventory_list %}
                    <div class="container" style="margin-top: 15px">
                    <div class="col-md-3">
                        {{ users_nicotine.nicotine.producer_name }} concentration
                        {{ users_nicotine.nicotine.concentration }} mg/ml
                        {{ users_nicotine.amount }} ml</div>
                        <form>
                        <div class="btn-group col-md-2">
                            <input formaction=
                                           "{{ url_for('edit_nicotine',
                        user_name=user.user_name,
                        nicotine_id=users_nicotine.nicotine.id) }}" type="submit" value="Edit" class="btn btn-primary btn-xs"/>
                            <input formaction=
                                           "{{ url_for('delete_nicotine',
                        user_name=user.user_name,
                        nicotine_id=users_nicotine.nicotine.id) }}"
                                   type="submit" value="Delete" class="btn btn-primary btn-xs"/>

                        </div>
                        </form>
</div>
                {% endfor %}
        {% else %}
                <p>No Nicotine in inventory are available.</p>
        {% endif %}

    {% endif %}
</div>
{% endblock %}