{% extends "base.html" %}
{% block content %}

    <form action="{{ url_for('eliquid_create', user_name=user.user_name)}}">
        <input type="submit" value="Create new eLiquid">
    </form>
    
    <h3>Here is the list of private {{user.user_name}} eliquids</h3>
    {% if private_eliquids_list %}
      <ul>
            {% for eLiquid in private_eliquids_list %}
            <li>
                <a href="{{ url_for('eliquid_comp', eliquid_id=eLiquid.id)}}">
                    {{ eLiquid.eliquid_name }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
            <p>No eliquids in inventory are available.</p>
    {% endif %}

{% endblock %}
