# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# idea
.idea

#untracked directories and files
migrations/
venv/
website/__pycache__/
website/app.db
website/app.egg-info/
website/app/__pycache__/
website/app/eliquids/__pycache__/
website/app/templates/create_new.html
website/app/templates/user_eliquids_inventory.html
website/app/templates/user_private_eliquids.html
website/app/users/__pycache__/

