{% extends "base.html" %}

{% block content %}
{#    <form action="/eliquids/{{ eliquid.id }}" id="like_form">#}
{#        {% if not favourite %}#}
{#            <input type="submit" name="submit" value="Like it">#}
{#        {% else %}#}
{#            <input type="submit" name="submit" value="Unlike it">#}
{#        {% endif %}#}
{#    </form>#}
    {% if not favourite %}
        <button id="like">Like</button>
    {% else %}
        <button id="like">Unlike</button>
    {% endif %}


    <h3>{{ eliquid.eliquid_name }}</h3>
    {% if composition %}
        <ul>
            {% for element in composition %}
            <li>
                <p>{{ element.flavoring.flavoring_name }} by {{ element.flavoring.producer_name }}
                    {{ element.quantity }}%</p>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>wtf?</p>
    {% endif %}
<script>
       $(document).ready(function() {
           $('#like').on('click', function () {
               $.post({
                   url: "{{ url_for('like_post') }}",
                   data: {
                       data: {{ eliquid.id }}
                   },
                   success: function () {
                       if ($('#like').text() == "Like") {
                           $('#like').text('Unlike');
                       } else {
                           $('#like').text('Like');
                       }
{#                       $('#send_data').toggle(function () {#}
{#                           $(this).text("Like");#}
{#                       }, function () {#}
{#                           $(this).text("Unlike");#}
{#                       });#}
                   }
               });
           });
       })
{#        $("#like_form").submit(function (e) {#}
{#            e.preventDefault()#}
{#            var $form = $(this),#}
{#                term = $form.find( "input[name='submit']" ).val(),#}
{#                url = $form.attr( 'action' );#}
{#            alert(term + " " + url);#}
{#            var posting = $.post( url, {submit: term} );#}
{##}
{#            posting.done(function() {#}
{#                if ($( "#send_data" ).text() == "Like it") {#}
{#                    $ ( "#send_data" ).text("Unlike it");#}
{#                } else { $ ( "#send_data" ).text("Like it")};#}
{#            })#}
{#        });#}
</script>
{% endblock %}
